body {
  font-family: "Open Sans", sans-serif;
  line-height: 1;
  display: block;
}

html {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
.div {
  display: block;
}
.App {
  padding-top: 75px;
  background-color: #afd4c0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.dash {
  width: 50vw;
  background-color: #e5f4ec;
  /* height: 100%; */
}
.dashboard {
  display: flex;
  justify-content: space-between;
}

.dashboard-header {
  font-size: 45px;
  font-weight: normal;
  color: #3b5249;
  margin: 20px;
}

.dash_header_button {
  margin: 20px;
  background-color: #8aea92;
  border: none;
  padding: 10px;
  font-size: 20px;
  font-weight: 700;
}

.dash_conatiner_heading {
  margin: 20px 20px 20px 40px;
  font-size: 18px;
  font-weight: 700;
}

.dash_conatiner_heading h3 {
  display: block;
}

.wizard-input {
  margin: 10px;
  float: left;
  font-size: 18px;
  font-weight: 700;
}

.dash_prop_container {
  border-top: 1px solid black;
  margin: 0 20px 10px;
}
