body {
  font-family: "Open Sans", sans-serif;
}

html {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

.App {
  padding-top: 75px;
  background-color: #afd4c0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.dash {
  width: 50vw;
  background-color: #e5f4ec;
  min-height: 100vh;
}
.dashboard {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  margin: 0 20px 10px 20px;
}

.dashboard-header {
  font-size: 45px;
  font-weight: normal;
  color: #3b5249;
  margin: 20px;
}

.dash_header_button {
  margin: 20px;
  background-color: #8aea92;
  border: none;
  padding: 10px;
  font-size: 20px;
  font-weight: 700;
}

.dash_conatiner_heading {
  margin: 20px 20px 20px 40px;
  font-size: 18px;
  font-weight: 700;
}

.dash_conatiner_heading h3 {
  display: block;
}

.wizard-content {
  width: 50vw;

  background-color: #e5f4ec;
  position: relative;
}

.wizard-header {
  display: flex;
  justify-content: space-between;
}

.wizard-heading {
  font-size: 30px;
  margin: 20px;
  font-weight: 700;
}

.wizard-header-button {
  margin: 20px;
  border: none;
  padding: 7px;
  font-size: 15px;
  font-weight: 700;
  background-color: #fec2c2;
}

.wizard-input-container {
  margin: 20px auto;
  width: 70%;
}

.wizard-input-property {
  margin: 10px;
  float: left;
  font-size: 18px;
  font-weight: 700;
}

.wizard-input-property * {
  margin: 2px;
}

.wizard-input-property p {
  margin-left: 12px;
}

.wizard-input-property input {
  border: 1px solid #519872;
  border-radius: 2px;
  height: 25px;
  display: inline-block;
  text-align: start;
}
.wizard-input-property input:focus {
  outline: none;
}

.wizard_button {
  margin: 20px;
  background-color: #8aea92;
  border: none;
  padding: 10px;
  font-size: 20px;
  position: absolute;
  bottom: 60px;
  right: 30px;
}
